@media only screen and (min-width: 1025px) {

    header,
    main,
    nav,
    footer {
        max-width: 1600px;
        margin: 0 auto;
    }

   #discover-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}
