/* General rules*/
:root {
    --primary-color: #23053E;
    --secondary-color: #3D2B56;
    --soft1-color: #A898E1;
    --soft2-color: #C5BAE9;
    --overlay-color: #EDEDED;
    --accent1-color: #C5F5B2;
    --accent2-color: #92E096;
    --text-color-light: #FEFEFE;
    --text-color-dark: #000000;
    --heading-font: "Lora", serif;
    --body-font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

/*Header*/

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding-top: 5px;
    border-bottom: solid 1px var(--overlay-color);
    column-gap: 8px;
    background-color: var(--primary-color);
    height: auto;
    min-height: 100px;

}

header img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: 10px;
}

header span {
    font-size: 1.2rem;
    color: var(--accent2-color);
    padding-left: 10px;
}

/* Hamburger button */

.hamburger {
    background: none;
    border: none;
    color: var(--accent1-color);
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    /* Unicode for hamburger icon*/
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\2715";
    /* Unicode for close icon*/
    color: #ff0000;
}


/*Add a CSS rule to hide the nav element*/
.navigation {
    display: none;
    grid-column: 1 / -1;
}

.nav-button {
    margin-top: 0.1rem;
    background-color: var(--soft2-color);
}

/*Add a CSS rule to show the nav element when it has the class of 'show'*/

.navigation.show {
    display: block;

}

/* --------- */

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.navigation a {
    display: block;
    padding: 0.85rem;
    color: var(--text-color-dark);
    font-weight: 500;
    text-decoration: none;
    border-bottom: solid 1px var(--overlay-color);
}

.navigation li.current {
    background-color: var(--accent1-color);
}


.navigation a:hover {
    background-color: var(--accent1-color);
}

/*Main*/

h1 {
    font-family: var(--heading-font);
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    padding: 1rem;
    text-align: center;
}

h2, h3 {
    font-family: var(--heading-font);
}

main {
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 700px;
    background-color: var(--overlay-color);
    font-family: var(--body-font);
}

.menu {
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: var(--secondary-color);
    text-align: center;

    
}

.menu button {
    padding: 0.5rem 1rem;
    font-weight: 700;
}

section {
    border: 1px solid  #999999;
    background-color: var(--accent1-color);
}


.section h2 {
    font-size: 1.1rem;
    font-family: var(--heading-font);
    
}

#cards p, #cards a {
    font-weight: 500;
    color: var(--text-color-dark);
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5px;
    align-items: center;
}

.grid section {
    text-align: center;
}

.grid section > * {
    margin: 0.1rem;
}

.grid h2{
    font-size: 1.5rem;
    margin-top: 1rem; /* same margin as last-child (bottom)*/
}

.grid img {
    width: auto;
    height: 150px;
    border: 1px solid #fff;
    box-shadow: 0 0 1rem #555;
    margin: 0.75rem auto;
}

.grid section > :last-child {
    margin-bottom: 1rem;   /* same margin as h2 (top)*/
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
}

.list section {
     display: flex;
     flex-direction: column;
     margin: 0.25rem 0;
     padding: 0.25rem;
     height:auto;
     align-items: center;
 }

 .list section > * {
     margin: 0 1rem 0.5rem 1rem;
 }

 .list section  h2 {
     font-size: 1rem;
 }

 .list section:nth-child(even) {
    background-color: var(--soft2-color);
}

.list img {
    display: none;
}


/*Footer*/
footer {
    background-color: var(--primary-color);
    padding: 1rem 10px; 
    text-align: center;
}


footer p {
    margin: 0.25rem 0;
    font-size: 0.9rem;
    color: var(--text-color-light);
}

footer span {
    font-weight: bold;
    color: var(--text-color-light);
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin: 2rem auto 1rem auto;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--overlay-color);
    border: var(--secondary-color) solid 1px;
    border-radius: 4px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: var(--accent1-color);
}

/*Home Page*/

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.cta-button {
    background: #ffffff;
    color: #000000;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.cta-button:hover {
    background-color: var(--accent1-color);
}

.first-row, .second-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    margin: 1rem auto;
    max-width: 600px;

}

.section-title {
    font-family: var(--heading-font);
    font-size: 1rem;
    text-align: center;
    background-color: var(--soft1-color);
    color: var(--text-color-dark);
    margin-bottom: 1.25rem;
    padding: 0.5rem 0;
}

.weather-composition {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: start;
}

.weather-data p {
    font-size: 0.85rem;
    margin-bottom: 0.5rem;
}

#weather-icon {
    margin-top: -0.7rem;
}

#forecast-widget {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding:0.5rem;
}

.temperature {
    font-weight: bold;
}

.events {
    min-height: 150px;
}

.business-spotlight {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    margin: 0 auto 0.5rem auto;
}

.business-spotlight h2 {
    grid-column: 1 / -1;
    text-align: center;
    padding-bottom: 0.5rem;
    border-bottom: solid 1px var(--text-color-dark);
}

.spotlight-info p {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}

.spotlight-info a {
    font-size: 0.9rem;
    color: #000000
}

/*Join Page*/


form {
    margin: 1rem 2%;
    

    label {
        display: block;
        font-size: .8rem;
        color: green;
        padding-top: .2rem;
    }


    input[type=text],
    input[type=tel],
    input[type=date],
    input[type=email],
    select {
        display: block;
        margin: .1rem 0 1rem 0;
        padding: .3rem;
        border: 1px solid #999;
        border-radius: 4px;
        border-left-width: 5px;
        border-left-color: #555;
        font-size: 1rem;
        color: #3D405B;
        width: 250px;
    }

    .description-title{
        margin-top: 1rem;
    }

    input:required {
        border-left-color: #d70000;
    }

    input:focus {
        border-left-color: black;
        outline: none;
    }

    input:required:valid {
        border-left-color: green;
    }

    textarea {
        display: block;
        width: 100%;
        max-width: 500px;
        min-height: 120px;
        margin: .1rem 0 1rem 0;
        padding: .3rem;
        border: 1px solid #999;
        border-radius: 4px;
        font-size: 1rem;
        color: #3D405B;
        width: 250px;
    }

    input[type=submit] {
        border: none;
        text-align: center;
        background-color: var(--secondary-color);
        color: white;
        border-radius: 1rem;
        padding: .75rem 1.5rem;
        margin: 2rem 0;
        font-size: 1.2rem;
        -webkit-appearance: none;
        appearance: none;
    }
}

input:-webkit-autofill {
    -webkit-text-fill-color: #3D405B;
}

#results {
    background-color: #F4F1DE;
    padding: 0 1rem;
    border: 1px solid #E07A5F;
    border-radius: 6px;
}

dialog {
    width: 400px;
    height: 300px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    padding: 20px;
}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

.levels-container h2 {
    text-align: center;
    margin-bottom: 1rem;
}

@keyframes fadeSlideUp {
    from {
        opacity: 0; 
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-membership {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 0.5rem;
    margin: 0 1rem 0.5rem 1rem;
    opacity: 0;
    animation: fadeSlideUp 1.5s ease forwards;
}

.card-membership h2 {
    grid-column: 1 / -1;
    text-align: center;
    padding-bottom: 0.5rem;
    border-bottom: solid 1px var(--text-color-dark);
}

.card-membership p {
    font-weight: 500;
}

.card-membership button{
    width: 25%;
    max-width: 125px;
    margin:0 auto 0.5rem auto;
}

/*Thankyou*/

#results {
    background-color: var(--soft2-color);
    border-color: #23053E;
    text-align: center;
    margin: 5rem 2rem;
    padding: 2rem 0
}







