@media only screen and (min-width: 320px) {

    header, main, nav, footer{
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }
    
    .hamburger {
        display: none;
    }

    nav{
        margin-left: 10px;
        margin-right: auto;
    }

    .navigation {
            display: block;
        }

    .navigation ul {
        display: flex;
        flex-direction: row;
    }

    .nav-button{
        margin-top: 0.5rem;
        background-color: var(--soft1-color);
        border: solid 1px var(--overlay-color);
        height: 30px;
        display: flex;
        align-items: center;
    }

    .navigation a {
        border: none;
    }

    main {
        display:grid;
        grid-template-columns: 2fr 1fr;
        gap: 0 2rem;
    }

    
    h1 {
        grid-column: 1 / -1;
        margin: 1.5rem 0;

    }

    .courses-card {
        grid-column: 1 / -1;
    }

    .course-category {
        justify-content: space-around;
        gap: 2rem;
        max-width: 900px;
        
    }
    
    .course-button {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 1rem 2rem;
        max-width: 900px;
    }

    .course-button button{
        width: 100%;
        padding: 0.5rem 1rem;
    }

}
    
   