@media only screen and (min-width: 641px) {

    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        max-width: 900px;
        margin: 0 auto;
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    nav {
        width: 100%;
    }

    .navigation {
        display: block;
        background-color: var(--secondary-color);
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-button {
        margin-top: 0;
        height: 30px;
        display: flex;
        align-items: center;
    }

    .navigation a {
        border: none;
    }

    .main-title {
        font-size: 3rem;
        color: var(--text-color-light);
    }

    footer{
        flex-direction: row;
        justify-content: left;
        align-items: flex-start;
        
    }

    footer>div {
        flex: 1;
    }


    /*Home rules*/
        /*purpose section*/

    .purpose{
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        align-items: center;
    }


    .figure-purpose{
        justify-content: center;
    }


    /*featured destination cards*/

    .destination-card {
        grid-template-columns: auto 1fr;

        grid-template-areas:
            "photograph name"
            "photograph location"
            "photograph climate"
            "photograph type"
            "photograph rating";
    }
    
    .destination-image {
        width: 300px;
        height: auto;
    }

    .cards-container {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 500px;
        align-items: center;

    }

    /* Form Page */

    form {
        margin-left: -20px;
    }
  
    .join-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: start;
        max-width: 900px;
        margin: 2rem auto 0 auto;
        padding: 0 2rem 2rem 2rem;
        
    }

    .join-main h1 {
        grid-column: 1 / -1;
        text-align: center;
        margin-top: 0;
    }

    .card-membership button {
        width: 32%;
        max-width: 125px;
        margin: 0 auto 0.5rem auto;
    }

    .subscribe-limited {
        max-width: 900px;
    }
}